<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>subTitle</key>
		<string>Inflight tools</string>
		<key>title</key>
		<string>Cockpit Tools</string>
		<key>icon</key>
		<string>Cockpit@2x.jpg</string>
		<key>standByIcon</key>
		<string>fav19.jpg</string>
	</dict>
	<dict>
		<key>subTitle</key>
		<string>Inflight timing Tools</string>
		<key>title</key>
		<string>Time</string>
		<key>icon</key>
		<string>Time@2x.jpg</string>
		<key>standByIcon</key>
		<string>fav11.jpg</string>
	</dict>
	<dict>
		<key>subTitle</key>
		<string>Fuel Calculations</string>
		<key>title</key>
		<string>Fuel</string>
		<key>icon</key>
		<string>Fuel@2x.jpg</string>
		<key>standByIcon</key>
		<string>fav16.jpg</string>
	</dict>
	<dict>
		<key>subTitle</key>
		<string>DG Tables and decodes</string>
		<key>title</key>
		<string>Dangerous Goods</string>
		<key>icon</key>
		<string>DangerousGoods@2x.jpeg</string>
		<key>standByIcon</key>
		<string>fav4.jpg</string>
	</dict>
	<dict>
		<key>subTitle</key>
		<string>HOT calculations and SNOWTAM decodes</string>
		<key>title</key>
		<string>De-Icing</string>
		<key>icon</key>
		<string>DeIcing@2x.jpg</string>
		<key>standByIcon</key>
		<string>fav5.jpg</string>
	</dict>
	<dict>
		<key>subTitle</key>
		<string>Overtime and Allowance calculators</string>
		<key>title</key>
		<string>Lifestyle</string>
		<key>icon</key>
		<string>Money@2x.jpg</string>
		<key>standByIcon</key>
		<string>fav6.jpg</string>
	</dict>
	<dict>
		<key>subTitle</key>
		<string>Sports news and commentary from journalists,fans and the athletes themselves.</string>
		<key>title</key>
		<string>Score</string>
		<key>icon</key>
		<string>SectionCoverSports.jpg</string>
		<key>standByIcon</key>
		<string>fav14.jpg</string>
	</dict>
	<dict>
		<key>subTitle</key>
		<string>Urban arts,sports,music and style.</string>
		<key>title</key>
		<string>All City</string>
		<key>icon</key>
		<string>SectionCoverStreet.jpg</string>
		<key>standByIcon</key>
		<string>fav1.jpg</string>
	</dict>
	<dict>
		<key>subTitle</key>
		<string>Fresh tastes,recipes,culinary news and food-related travel.</string>
		<key>title</key>
		<string>Flavor</string>
		<key>icon</key>
		<string>SectionCoverFoodie.jpg</string>
		<key>standByIcon</key>
		<string>fav9.jpg</string>
	</dict>
	<dict>
		<key>subTitle</key>
		<string>Empathy,advice and hacks for life with babies,kids and teens.</string>
		<key>title</key>
		<string>Family Matters</string>
		<key>icon</key>
		<string>SectionCoverFamily.jpg</string>
		<key>standByIcon</key>
		<string>fav18.jpg</string>
	</dict>
</array>
</plist>
